<% if(success === "false") { %>
    <div class="text-center mx-auto alert alert-danger alert-dismissible fade show mt-3 col-4">
        <strong>Error!</strong> Email Address already exists.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
<% } %>

<div id="firstNameError" class="text-center mx-auto alert alert-danger alert-dismissible fade show mt-3 col-4" hidden>
    <strong>Error!</strong> First Name cannot be left empty.
    <button id="firstNameClose" type="button" class="btn-close"></button>
</div>

<div id="firstNameRegexError" class="text-center mx-auto alert alert-danger alert-dismissible fade show mt-3 col-4" hidden>
    <strong>Error!</strong> First Name is not valid.
    <button id="firstNameRegexClose" type="button" class="btn-close"></button>
</div>

<div id="lastNameError" class="text-center mx-auto alert alert-danger alert-dismissible fade show mt-3 col-4" hidden>
    <strong>Error!</strong> Last Name cannot be left empty.
    <button id="lastNameClose" type="button" class="btn-close"></button>
</div>

<div id="lastNameRegexError" class="text-center mx-auto alert alert-danger alert-dismissible fade show mt-3 col-4" hidden>
    <strong>Error!</strong> Last Name is not valid.
    <button id="lastNameRegexClose" type="button" class="btn-close"></button>
</div>

<div id="emailAddressError" class="text-center mx-auto alert alert-danger alert-dismissible fade show mt-3 col-4" hidden>
    <strong>Error!</strong> Email Address cannot be left empty.
    <button id="emailAddressClose" type="button" class="btn-close"></button>
</div>

<div id="emailAddressRegexError" class="text-center mx-auto alert alert-danger alert-dismissible fade show mt-3 col-4" hidden>
    <strong>Error!</strong> Email Address format is not valid.
    <button id="emailAddressRegexClose" type="button" class="btn-close"></button>
</div>

<div id="passwordError" class="text-center mx-auto alert alert-danger alert-dismissible fade show mt-3 col-4" hidden>
    <strong>Error!</strong> Password cannot be left empty.
    <button id="passwordClose" type="button" class="btn-close"></button>
</div>

<div id="passwordLengthError" class="text-center mx-auto alert alert-danger alert-dismissible fade show mt-3 col-4" hidden>
    <strong>Error!</strong> Password cannot be less than 8 characters long.
    <button id="passwordLengthClose" type="button" class="btn-close"></button>
</div>

<div id="confirmPasswordError" class="text-center mx-auto alert alert-danger alert-dismissible fade show mt-3 col-4" hidden>
    <strong>Error!</strong> Confirm Password cannot be left empty.
    <button id="confirmPasswordClose" type="button" class="btn-close"></button>
</div>

<div id="passwordMatchError" class="text-center mx-auto alert alert-danger alert-dismissible fade show mt-3 col-4" hidden>
    <strong>Error!</strong> Passwords do not match!
    <button id="passwordMatchClose" type="button" class="btn-close"></button>
</div>